section[data-type=chapter]
{	
	h2, h3, h4, h5, h6
	{
		margin-top: $paragraph-margin-bottom*3;
	}
	
	&>h1
	{
		font-size: $h1-font-size * 1.25;
		border-bottom: 2px solid $header-font-color;
		padding-bottom: 1rem;
		
		@media #{$small-only}
		{
			font-size: ($h1-font-size - $h1-font-reduction) * 1.25;
		}
	}
	
	a
	{
		&:hover
		{
			text-shadow: 0 2px $body-bg, -2px 2px $body-bg, 2px 2px $body-bg;
			border-bottom: 1px dotted $anchor-font-color-hover;
		}
	}
	
	p
	{
		strong, b
		{
			text-transform: lowercase;
			font-variant: small-caps;
			font-family: $header-font-family;
			font-weight: $font-weight-bold;
		}
	}
	
	section[data-type=sect1]
	{
		margin-top: $column-gutter*.75;
		padding-top: $column-gutter*.75;
		border-top: 1px solid $hr-border-color;
	}
	
	h1+section[data-type=sect1]
	{
		margin-top: $column-gutter/2;
		padding-top: 0;
		border-top: 0;
	}
	
	div[data-type=note]
	{
		background: lighten($info-color, 40);
		border: 1px solid $info-color;
		border-radius: $global-radius;
		margin-bottom: $column-gutter/2;
		padding: $column-gutter/2;
		
		h1
		{
			font-size: $h3-font-size;
		}
		
		p
		{
			font-family: $header-font-family;
		}
		
		code
		{
			//background: desaturate(lighten($info-color, 35), 10);
		}

		pre,div.highlight
		{
		  background:transparent;
		}
		div.highlight
		{
		  padding: 0 $column-gutter/2;
		}
	}
	
	aside
	{
		margin-left: -$column-gutter/2;
		margin-right: -$column-gutter/2;
		margin-bottom: $column-gutter/2;
		background: $ghost;
		padding: $column-gutter/2;
		
		h5:first-child
		{
			margin-top: 0;
		}
		
		p
		{
			font-size: 0.875rem;
			font-family: $header-font-family;
			font-weight: normal;
		}
		
		pre,div.highlight
		{
			font-size: 0.875rem;
			background: transparent;
			//padding: $column-gutter/4;
		}
		div.highlight
		{
		  padding: 0 $column-gutter/2;
		}
	}

	div.highlight
	{
		background: $pygments-background-color;
		position: relative;
		display: block;
		padding: $column-gutter/4 $column-gutter/2;
		//border: 1px solid $code-border-color;
		//border: 0;
		//border-left: 2px solid $hr-border-color;
		border-radius: $global-radius;
		margin-bottom: $paragraph-margin-bottom;
		margin-left: 0;
		white-space: pre-wrap;
		overflow: scroll;
        }
	
	dl
	{
		dt
		{
			margin: 0;
		}
		
		dd
		{
			position: relative;
			padding-left: $column-gutter/2;
			
			&:before
			{
				content: '↪';
				position: absolute;
				left: 0.5rem;
				top: 0;
			}
		}
	}
	
	ul
	{
		list-style: circle;
		margin-left: $column-gutter/2;
		margin-bottom: $paragraph-margin-bottom;
		
		li
		{
		}
	}
	
	ol
	{
		margin-bottom: $paragraph-margin-bottom;
		
		li
		{
			margin-bottom: $paragraph-margin-bottom;
		}
	}
	
	table
	{
		margin-left: -0.875rem;
		width: 100%;
		margin-bottom: $paragraph-margin-bottom;
		
		caption
		{
			padding: 0.5rem 0;
			border-bottom: 1px solid $hr-border-color;			
			font-family: $header-font-family;
			font-weight: $header-font-weight;
			text-transform: uppercase;
		}
		
		th, td
		{
			padding: 0.5rem 0.875rem;
		}
		
		th
		{
			text-align: left;
			border-bottom: 1px solid $hr-border-color;
			font-family: $font-family-sans-serif;
			font-size: 1.3rem;
		}
		
		tr:nth-child(even) td
		{
			background: $ghost;
		}
	}

@media #{$medium}
{
	section[data-type=sect1]
	{
		margin-top: $column-gutter;
		padding-top: $column-gutter;
	}
	
	pre
	{
		//margin-left: -$column-gutter/2;
		//margin-right: -$column-gutter/2;
	}
	
	aside
	{
		//float: right;
		//width: 50%;
		//margin-left: $column-gutter/2;
		//column-count: 2;
		//column-gap: $column-gutter/2;
	
		pre
		{
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	dl
	{
		dd
		{
			padding-left: $column-gutter*0.75;
		}
	}
}

}