.index-toc
{
	/*
	column-count: 2;
	column-gap: $column-gutter/2;
	*/
	
	//border: 1px solid $hr-border-color;
	//border-radius: $global-radius;
	//box-shadow: 0 1px 2px $hr-border-color;
	//padding: $column-gutter/2;
	
	ul
	{
		list-style: none;
		margin: 0 0 $column-gutter/3;
		padding: 0;
		
		li
		{
			display: block;
			
			a
			{
				display: block;
				padding: 0.3rem 0;
				font-family: $font-family-sans-serif;
				color: $body-font-color;
				font-size: 1rem;
				line-height: $header-line-height;
				
				&:hover
				{
					color: $primary-color;
				}
			}
		}
	}
	
	h4
	{
		font-size: 1rem;
		color: $small-font-color;
		margin: 0 0 $paragraph-margin-bottom/2;
	}

@media #{$medium}
{
	@include grid-column(4);
}

}