.splash, .title-bar
{
	.title
	{
		h1
		{
			font-family: $font-family-display;
			font-weight: 100;
			margin: 0 0 0.3rem;
			color: $white;
			//text-shadow: 3px 7px 12px rgba(black, 0.6);
		}
		
		h4
		{
			color: $white;
			margin: 0 0 0.3rem;
			font-weight: $header-font-weight;
		}
		
		h5
		{
			color: rgba($white, 0.8);
			text-transform: none;
			font-family: $font-family-serif;
			font-style: italic;
			font-weight: $font-weight-normal;
			//border-bottom: 1px solid rgba($white, 0.4);
			//padding-bottom: $column-gutter/2;
		}
	}
	
	nav
	{
		margin-top: $column-gutter/4;
		
		a
		{
			font-family: $header-font-family;
			font-weight: normal;
			color: white;
			text-transform: uppercase;
			font-size: 0.875rem;
			display: inline-block;
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
			padding: 0.1rem 0.6rem;
			transition: background 0.2s;
			background: rgba(black, 0.1);
			border-radius: $global-radius;
			
			&:hover
			{
				background: rgba(black, 0.2);
			}
			
			&.active
			{
				background: none;
				text-decoration: underline;
			}
		}
	}
}

.splash
{
	position: relative;
	z-index: 10;
	$col: #a6b6c8;
	border-bottom: 3px solid $primary-color;
	
	@include grid-row;
	
	.image
	{
		position: relative;
		@include grid-column(12, $float: none);		
		background: url('../images/book-cover.jpg') no-repeat left center;
		background-size: 265% auto;
		padding-bottom: 95%;
		
		&:after
		{
			content: '';
			display: block;
			position: absolute;
			top: 85%; right: 0; bottom: 0; left: 0;
			background: linear-gradient(bottom, $col, rgba($col, 0));
		}
	}
	
	.title
	{
		background: $col;
		@include grid-column(12, $float: none);
		padding-bottom: $column-gutter/2;
		
		h1
		{
			font-size: ($h1-font-size - $h1-font-reduction) * 1.25;
		}
	}
	
@media #{$medium}
{
	display: table;
	background: url('../images/plain-bg.jpg') no-repeat, #424b50 url('../images/bg.jpg') repeat;
	background-size: auto 100%, auto;
	
	.image
	{
		@include grid-column(3.5, $float: none);
		display: table-cell;
		padding-bottom: 30%;
		background-size: auto 100%;
		
		&:after
		{
			display: none;
		}
	}
	
	.title
	{
		padding: 5% 0;
		@include grid-column(8.5, $float: none);
		display: table-cell;
		vertical-align: bottom;
		background: transparent;
	}
}

@media #{$large}
{
	.title
	{
		h1
		{
			font-size: $h1-font-size * 1.25;
		}
	}
}

}