.toc-full
{
	list-style: none;
	margin: 0 0 $column-gutter/2;
	padding: 0;
	
	&+h5
	{
		//margin-top: $column-gutter/2;
		color: $small-font-color;
	}
	
	h2
	{
		font-size: $h4-font-size;
		margin: 0;
	}
	
	h5
	{
		font-size: 1rem;
		text-transform: none;
		font-weight: $font-weight-normal;
		font-style: italic;
		margin: 0;
	}
	
	h6
	{
	}
	
	li
	{
		display: block;
		margin: 0;
	}
	
	&>li
	{
		margin: 0 0 $column-gutter/4;
	}
	
	a
	{
		padding: 0.3rem 0;
		
		&:hover
		{
			//background: $code-background-color;
		}
	}
	
	.children
	{
		list-style: none;
		margin: 0 0 0 $column-gutter/2;
		padding: 0;
		
		.children
		{
			a
			{
				font-family: $font-family-sans-serif;
				color: $small-font-color;
				font-size: 1rem;
				line-height: $header-line-height;
				
				&:hover
				{
					color: $primary-color;
				}
			}
			
			.children
			{
				a
				{
					font-size: 0.75rem;
					text-transform: uppercase;
				}
			}
		}
	}
	
	a
	{
		display: block;
		
		&:hover
		{
			color: $primary-color;
			
			h2, h5
			{
				color: $primary-color;
			}
		}
	}

@media #{$medium}
{
	.children
	{
		margin: 0 0 0 $column-gutter/1.5;
	}
}

}