html
{
}

body
{
	&:after
	{
		content: '';
		display: block;
		position: fixed;
		z-index: 1;
		top: 0;
		width: 100%;
		border-top: 3px solid $primary-color;
	}
}

h1, h2, h3, h4, h5, h6, p, ul li, ol li
{
	font-feature-settings: "kern" 1;
	font-kerning: normal;
}

h1
{	
	small
	{
		display: block;
		text-transform: uppercase;
		line-height: 1.4;
	}
}

h3
{
	text-transform: uppercase;
	//font-variant: small-caps;
	font-weight: $font-weight-bold;
	color: darken($base, 20);
}

h4, h5, h6
{
	text-transform: uppercase;
	font-weight: $font-weight-bold;
}

p, pre, ul, ol, dl
{
	&:last-child
	{
		margin-bottom: 0;
	}
	
	@media #{$small-only}
	{
		font-size: 0.875rem;
	}
}

code
{
	border-radius: $global-radius;
	//display: inline-block;
	line-height: 1.2;
	vertical-align: baseline;
	text-transform: none !important;
	font-size: 95%;
}

a
{
	h1
	{
		color: $primary-color;
	}
}