.question
{
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	font-size: $h3-font-size;
	line-height: $header-line-height*1.25;
	
	&:nth-child(n+2)
	{
		border-top: 1px solid $hr-border-color;
		padding-top: $column-gutter;
		margin-top: $column-gutter;
	}
}