footer
{
	@include grid-row;
	background: $secondary-color;
	padding: $column-gutter/2 0;
	font-size: 0.875rem;
	
	.content
	{
		@include grid-column(12);
		text-align: center;
	}
	
	ul
	{
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0.875rem;
		
		li
		{
			display: inline-block;
			
			a
			{
				display: block;
				padding: 0;
				line-height: 1.4;
				margin: 0 1rem;
				border-bottom: 1px dotted transparent;
				
				&:hover
				{
					border-bottom: 1px dotted $anchor-font-color-hover;
				}
			}
		}
	}
	
	p
	{
		font-size: 0.875rem;	
		margin-top: 0.5rem;
		color: $small-font-color;
	}

@media #{$medium}
{
	padding: $column-gutter 0;
	
	.content
	{
		@include grid-column(9, $center: true);
	}
}

}