.extras
{
	@include grid-row(nest);
	
	a
	{
		display: block;
		@include grid-column(12, $float: none);
		padding: $column-gutter/2;
		
		h5
		{
			margin: 0;
		}
		
		img
		{
			width: 50%;
			margin-bottom: 1rem;
		}
		
		&:hover
		{
			h5
			{
				color: $primary-color;
			}
		}
	}

@media #{$medium}
{
	a
	{
		@include grid-column(4);
		padding: $column-gutter/2;
		text-align: center;
	}
}

}