.wrap
{
	background: $white;
	@include grid-row;
	position: relative;
	//margin-top: $column-gutter/2;
	
	&>.row
	{
		max-width: rem-calc(1180px);
		margin: 0 auto;
	}
	
	.left-column
	{
		display: none;
	}
	
	.main-body
	{
		@include grid-column(12, $float: none);
		padding-bottom: $column-gutter/2;
		margin-top: $column-gutter/2;
	}
	
	.index-toc, .author-holder, .extras-holder
	{
		@include grid-column(12, $float: none);
		margin-top: $column-gutter/2;
		margin-bottom: $column-gutter/2;
	}
	
	.extras-holder
	{
		border-top: 1px solid $hr-border-color;
	}
	
@media #{$medium}
{	
	//margin-top: $column-gutter;
	
	.left-column
	{
	}
	
	.main-body
	{
		max-width: 54rem;
		padding-bottom: $column-gutter;
	}
	
	.index-toc
	{
		@include grid-column(6);
	}
	
	.author-holder, .extras-holder
	{
		@include grid-column(6, $float:right);
		margin-bottom: 0;
	}
}

@media #{$large}
{
	.left-column
	{
		display: block;
		@include grid-column(3, $collapse: true);
		padding-top: $column-gutter/2;
		margin-left: $column-gutter/2;
		padding-right: $column-gutter/2;
	}
	
	.main-body
	{
		@include grid-column(8, $offset: 3.5);
		padding-bottom: $column-gutter*2;
	}
	
	.index-toc
	{
		@include grid-column(5);
	}
	
	.author-holder
	{
		@include grid-column(3.5);
		border-left: 1px solid $hr-border-color;
	}
	
	.extras-holder
	{
		@include grid-column(7, $float:right);
	}
}

@media #{$xlarge-up}
{
	.left-column
	{
		width: 32rem;
		margin-left: $column-gutter;
		padding-right: $column-gutter;
	}
	
	.main-body
	{
		margin-left: 32rem !important;
		padding: 0 $column-gutter $column-gutter*2;
	}
}

}