.next-chapter
{
	display: block;
	transition: background 0.2s;
	
	.content
	{
		@include grid-column(12, $float: none);
		
		h1
		{
			border-top: 1px solid $header-font-color;
			padding: 1rem 0;
			margin: 0;
		}
	}
	
	&:hover
	{
		background: $primary-color;
		
		.content
		{
			h1
			{
				border-color: $primary-color;
				color: $white;
				
				small
				{
					color: lighten($primary-color, 20);
				}
			}
		}
	}
	
@media #{$large}
{
	.content
	{
		@include grid-column(8, $offset: 3.5, $float: none);
		max-width: 54rem - $column-gutter;
		
		h1
		{
			padding: $column-gutter/2 0;
		}
	}
}

@media #{$xlarge-up}
{	
	.content
	{
		margin-left: 32rem + $column-gutter/2 !important;
	}
}

}