* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body,
textarea,
input {
    font-family: "Domine", serif;
    font-size: 14px;
    color: #000000;
}

body {
    line-height: 1.57;
    background: #EFEFE7;
    min-width: 980px;
}

.body {
    width: 960px;
    margin: 40px auto 0 auto;
    overflow: hidden;
}


/* Header. */

.header,
.navigation {
    position: fixed;
    width: 214px;
}


/* Navigation. */

.navigation {
    margin-top: 73px;
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation > ul > li {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
}

.navigation > ul > li:first-child {
    margin-bottom: 2px;
}

.navigation > ul > li:first-child > a,
.navigation > ul > li:first-child > a.here,
.navigation > ul > li:first-child > a:hover {
    font-size: 17px;
    border-bottom: 1px #8E8880 solid;
    color: #000000;
    display: table;
    padding-bottom: 1px;
}

.navigation > ul > li > ul > li {
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
}

.navigation a {
    color: #000000;
    font-weight: bold;
    display: block;
}

.navigation a:hover,
.navigation a.here {
    color: #3F48FA;
    text-decoration: none;
}


/* Main content area. */

.page {
    margin-bottom: 40px;
    background: #FCFCFA;
    border: 1px #E2E0D8 solid;
    border-radius: 5px;
    width: 656px;
    position: relative;
    padding: 12px 22px;
    margin-left: 258px;
}


/* Sectioning. */

.page > h1 {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 16px;
    font-weight: bold;
}

.page section > h1 {
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 14px;
}

.page section > h1 + section {
    margin-top: -4px;
}

.page > section > h1 {
    font-size: 18px;
    text-transform: uppercase;
}

.page > section > section > h1 {
    font-size: 16px;
}


/* Asides */

.page aside {
    padding: 14px 14px 0 76px;
    border: 1px #E2E0D8 solid;
    overflow: hidden;
    margin: 0 0 15px 0;
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.page aside > h1 {
    margin-bottom: 14px;
}

.page aside.note {
    background-image: url(../img/aside-note.png);
}

.page aside.important {
    background-image: url(../img/aside-important.png);
}

.page aside.warning {
    background-image: url(../img/aside-warning.png);
}

.page aside.tip {
    background-image: url(../img/aside-tip.png);
}

.page aside.caution {
    background-image: url(../img/aside-warning.png);
}


/* Content styles. */

p,
ol,
ul,
li,
table
{
    margin-bottom: 15px;
}

ul,
ol {
    margin-left: 25px;
}

code,
pre {
    font-family: Courier, monospace;
    font-size: 95%;
}

pre {
    background: #E8E7DD;
    line-height: 1.27;
    padding: 7px;
    padding-left: 7px;
    overflow: auto;
}

table {
    border: 1px #E2E0D8 solid;
    border-collapse: collapse;
}

table td,
table th {
    text-align: left;
    vertical-align: top;
    padding: 1px 11px;
}

table th {
    font-weight: bold;
    background: #EFEFE7;
}

table td {
    border-bottom: 1px #EFEFE7 solid;
}

a {
    color: #3F48FA;
    text-decoration: none;
}

a:hover {
    color: #5F68FF;
    text-decoration: underline;
}

a > img {
    border: none;
}


/* Pagination. */

.pagination {
    clear: both;
    margin-left: 256px;
    position: relative;
    top: -21px;
    height: 20px;
}

.pagination a {
    position: absolute;
    top: 0;
    color: #000000;
    font-weight: bold;
}

.pagination a:hover {
    color: #F14E32;
}

.pagination a[rel=previous] {
    left: 0;
}

.pagination a[rel=next] {
    right: 0;
    text-align: right;
}


/* Footer. */

.footer {
    border-top: 1px #E2E0D8 solid;
    color: #9A9994;
    font-size: 12px;
    padding: 20px 20px 0 20px;
}
