*.a
.*.swp
*.aux
*.aux
*.byte
*.cm*
*.idx
*.log
*.native
*.o
*.omakedb.lock
*.omc
*.pyc
*.pyo
*.tmp
*.toc
*~
.DS_Store
.bzr
.bzrignore
.project
.pydevproject
.settings
/commenting-build
Thumbs.db
_build
book/*.css
book/*.html
build/
stylesheets/system-xsl
_build
