*.a
a.out
.*.swp
*.aux
*.aux
*.byte
*.cmo
*.cmi
*.cmx
*.cmxa
*.cma
*.idx
*.log
*.native
*.byte
*.o
*.omakedb.lock
*.omc
*.tmp
*.toc
*~
.*.swp
.DS_Store
.bzr
.bzrignore
.project
.pydevproject
.settings
/commenting-build
_build
