compile = ["dune", "build", "@site"]
run = ["dune", "@runtest"]
entrypoint = "README.md"
hidden = ["_build"]

[languages.OCaml]
pattern = "**/*.{ml,mli}"

[env]
TZ="GB"

[nix]
channel = "stable-22_05"
