<!DOCTYPE html>
<html>

    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="NOINDEX, NOARCHIVE, NOFOLLOW">
        
        <title>{% if title %}{{title}} / {% endif %}Real World OCaml</title>
        
        <link rel="stylesheet" href="media/css/main.css">
    
    </head>
    
    <body>
    
        <div class="body">
        
            <header class="header">
                <h1>Real World OCaml</h1>
            </header>
    
            <aside class="navigation">
                <ul>
                    <li>
                        <a href="index.html"{% if html_name == "index.html" %} class="here"{% endif %}>Table of Contents</a>
                    </li>
                    {% for navigation_item in navigation_list %}
                        <li>
                            <a href="{{navigation_item.href}}"{% if html_name == navigation_item.href %} class="here"{% endif %}>{{navigation_item.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
        
            <article class="page">
        
                <h1>{{title}}</h1>
                
                {% block content %}{% endblock %}
                
            </article>
            
        </div>
    
    </body>

</html>