<!DOCTYPE html>
<html>

    <head>
    
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="NOINDEX, NOARCHIVE, NOFOLLOW" />
        
        <title>{% if title %}{{title}} / {% endif %}Real World OCaml</title>
        
        <link rel="stylesheet" href="../../media/css/main.css" />
        
        <script src="../../media/js/require.js" data-main="../../media/js/main.js"></script>
        <script>
            require.config({
                config: {
                    gitHub: {
                        user: "{{github_user|escapejs}}",
                        repo: "{{github_repo|escapejs}}",
                        milestone: "{{github_milestone|escapejs}}",
                        page: "{{html_name|escapejs}}"
                    }
                }
            });
        </script>
        {% if debug %}
            <script>
                require.config({
                    urlArgs: "bust=" +  Date.now()
                });
            </script>
        {% endif %}
    
    </head>
    
    <body>
    
        <div class="body">
        
            <header class="header">
                <h1><img src="../../media/img/header.png" width="213" height="59" alt="Real World OCaml, by Jason Hickey, Anil Madhavapeddy and Yaron Minsky" /></h1>
            </header>
    
            <nav class="navigation">
                <ul>
                    <li>
                        <a href="index.html"{% if html_name == "index.html" %} class="here"{% endif %}>Table of Contents</a>
                    </li>
                    {% for navigation_group in navigation_list %}
                        <li>
                            <a href="{{navigation_group.href}}"{% if html_name == navigation_group.href %} class="here"{% endif %}>{{navigation_group.title}}</a>
                            {% if navigation_group.children %}
                                {% if html_name == navigation_group.href or part_html_name == navigation_group.href %} 
                                    <ul>
                                        {% for navigation_item in navigation_group.children %}
                                            <li>
                                                <a href="{{navigation_item.href}}"{% if html_name == navigation_item.href %} class="here"{% endif %}>{{navigation_item.title}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        
            <article class="page">
        
                <h1>{{title}}</h1>
                
                {% block content %}{% endblock %}
                
            </article>
            
            {% if prev_page or next_page %}
    
                <nav class="pagination">
                    {% if prev_page %}
                        <a rel="previous" href="{{prev_page}}">
                            &lt; Previous
                        </a>
                    {% endif %}
                    {% if next_page %}
                        <a rel="next" href="{{next_page}}">
                            Next &gt;
                        </a>
                    {% endif %}
                </nav>
            
            {% endif %}
            
            <footer class="footer">
                <p>Copyright 2012-2013, Jason Hickey, Anil Madhavapeddy and Yaron Minsky.</p>
            </footer>
            
        </div>
    
    </body>

</html>
