pre .hll { background-color: #ffffcc }
pre  { background: #ffffff; }
pre .c { color: #888888 } /* Comment */
pre .err { color: #a61717; background-color: #e3d2d2 } /* Error */
pre .k { color: #008800; font-weight: bold } /* Keyword */
pre .cm { color: #888888 } /* Comment.Multiline */
pre .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
pre .c1 { color: #888888 } /* Comment.Single */
pre .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
pre .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #aa0000 } /* Generic.Error */
pre .gh { color: #333333 } /* Generic.Heading */
pre .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #555555 } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #666666 } /* Generic.Subheading */
pre .gt { color: #aa0000 } /* Generic.Traceback */
pre .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #008800 } /* Keyword.Pseudo */
pre .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #888888; font-weight: bold } /* Keyword.Type */
pre .m { color: #0000DD; font-weight: bold } /* Literal.Number */
pre .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
pre .na { color: #336699 } /* Name.Attribute */
pre .nb { color: #003388 } /* Name.Builtin */
pre .nc { color: #bb0066; font-weight: bold } /* Name.Class */
pre .no { color: #003366; font-weight: bold } /* Name.Constant */
pre .nd { color: #555555 } /* Name.Decorator */
pre .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
pre .nf { color: #0066bb; font-weight: bold } /* Name.Function */
pre .nl { color: #336699; font-style: italic } /* Name.Label */
pre .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
pre .py { color: #336699; font-weight: bold } /* Name.Property */
pre .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
pre .nv { color: #336699 } /* Name.Variable */
pre .ow { color: #008800 } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #0000DD; font-weight: bold } /* Literal.Number.Bin */
pre .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
pre .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
pre .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
pre .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
pre .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
pre .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
pre .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
pre .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
pre .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
pre .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
pre .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
pre .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
pre .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
pre .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
pre .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
pre .bp { color: #003388 } /* Name.Builtin.Pseudo */
pre .vc { color: #336699 } /* Name.Variable.Class */
pre .vg { color: #dd7700 } /* Name.Variable.Global */
pre .vi { color: #3333bb } /* Name.Variable.Instance */
pre .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
