pre .hll { background-color: #ffffcc }
pre  { background: #ffffff; }
pre .c { color: #177500 } /* Comment */
pre .err { color: #000000 } /* Error */
pre .k { color: #A90D91 } /* Keyword */
pre .l { color: #1C01CE } /* Literal */
pre .n { color: #000000 } /* Name */
pre .o { color: #000000 } /* Operator */
pre .cm { color: #177500 } /* Comment.Multiline */
pre .cp { color: #633820 } /* Comment.Preproc */
pre .c1 { color: #177500 } /* Comment.Single */
pre .cs { color: #177500 } /* Comment.Special */
pre .kc { color: #A90D91 } /* Keyword.Constant */
pre .kd { color: #A90D91 } /* Keyword.Declaration */
pre .kn { color: #A90D91 } /* Keyword.Namespace */
pre .kp { color: #A90D91 } /* Keyword.Pseudo */
pre .kr { color: #A90D91 } /* Keyword.Reserved */
pre .kt { color: #A90D91 } /* Keyword.Type */
pre .ld { color: #1C01CE } /* Literal.Date */
pre .m { color: #1C01CE } /* Literal.Number */
pre .s { color: #C41A16 } /* Literal.String */
pre .na { color: #836C28 } /* Name.Attribute */
pre .nb { color: #A90D91 } /* Name.Builtin */
pre .nc { color: #3F6E75 } /* Name.Class */
pre .no { color: #000000 } /* Name.Constant */
pre .nd { color: #000000 } /* Name.Decorator */
pre .ni { color: #000000 } /* Name.Entity */
pre .ne { color: #000000 } /* Name.Exception */
pre .nf { color: #000000 } /* Name.Function */
pre .nl { color: #000000 } /* Name.Label */
pre .nn { color: #000000 } /* Name.Namespace */
pre .nx { color: #000000 } /* Name.Other */
pre .py { color: #000000 } /* Name.Property */
pre .nt { color: #000000 } /* Name.Tag */
pre .nv { color: #000000 } /* Name.Variable */
pre .ow { color: #000000 } /* Operator.Word */
pre .mb { color: #1C01CE } /* Literal.Number.Bin */
pre .mf { color: #1C01CE } /* Literal.Number.Float */
pre .mh { color: #1C01CE } /* Literal.Number.Hex */
pre .mi { color: #1C01CE } /* Literal.Number.Integer */
pre .mo { color: #1C01CE } /* Literal.Number.Oct */
pre .sb { color: #C41A16 } /* Literal.String.Backtick */
pre .sc { color: #2300CE } /* Literal.String.Char */
pre .sd { color: #C41A16 } /* Literal.String.Doc */
pre .s2 { color: #C41A16 } /* Literal.String.Double */
pre .se { color: #C41A16 } /* Literal.String.Escape */
pre .sh { color: #C41A16 } /* Literal.String.Heredoc */
pre .si { color: #C41A16 } /* Literal.String.Interpol */
pre .sx { color: #C41A16 } /* Literal.String.Other */
pre .sr { color: #C41A16 } /* Literal.String.Regex */
pre .s1 { color: #C41A16 } /* Literal.String.Single */
pre .ss { color: #C41A16 } /* Literal.String.Symbol */
pre .bp { color: #5B269A } /* Name.Builtin.Pseudo */
pre .vc { color: #000000 } /* Name.Variable.Class */
pre .vg { color: #000000 } /* Name.Variable.Global */
pre .vi { color: #000000 } /* Name.Variable.Instance */
pre .il { color: #1C01CE } /* Literal.Number.Integer.Long */
