pre .hll { background-color: #ffffcc }
pre  { background: #eeeedd; }
pre .c { color: #228B22 } /* Comment */
pre .err { color: #a61717; background-color: #e3d2d2 } /* Error */
pre .k { color: #8B008B; font-weight: bold } /* Keyword */
pre .cm { color: #228B22 } /* Comment.Multiline */
pre .cp { color: #1e889b } /* Comment.Preproc */
pre .c1 { color: #228B22 } /* Comment.Single */
pre .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
pre .gd { color: #aa0000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #aa0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00aa00 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #555555 } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #aa0000 } /* Generic.Traceback */
pre .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
pre .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #a7a7a7; font-weight: bold } /* Keyword.Type */
pre .m { color: #B452CD } /* Literal.Number */
pre .s { color: #CD5555 } /* Literal.String */
pre .na { color: #658b00 } /* Name.Attribute */
pre .nb { color: #658b00 } /* Name.Builtin */
pre .nc { color: #008b45; font-weight: bold } /* Name.Class */
pre .no { color: #00688B } /* Name.Constant */
pre .nd { color: #707a7c } /* Name.Decorator */
pre .ne { color: #008b45; font-weight: bold } /* Name.Exception */
pre .nf { color: #008b45 } /* Name.Function */
pre .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
pre .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
pre .nv { color: #00688B } /* Name.Variable */
pre .ow { color: #8B008B } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #B452CD } /* Literal.Number.Bin */
pre .mf { color: #B452CD } /* Literal.Number.Float */
pre .mh { color: #B452CD } /* Literal.Number.Hex */
pre .mi { color: #B452CD } /* Literal.Number.Integer */
pre .mo { color: #B452CD } /* Literal.Number.Oct */
pre .sb { color: #CD5555 } /* Literal.String.Backtick */
pre .sc { color: #CD5555 } /* Literal.String.Char */
pre .sd { color: #CD5555 } /* Literal.String.Doc */
pre .s2 { color: #CD5555 } /* Literal.String.Double */
pre .se { color: #CD5555 } /* Literal.String.Escape */
pre .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
pre .si { color: #CD5555 } /* Literal.String.Interpol */
pre .sx { color: #cb6c20 } /* Literal.String.Other */
pre .sr { color: #1c7e71 } /* Literal.String.Regex */
pre .s1 { color: #CD5555 } /* Literal.String.Single */
pre .ss { color: #CD5555 } /* Literal.String.Symbol */
pre .bp { color: #658b00 } /* Name.Builtin.Pseudo */
pre .vc { color: #00688B } /* Name.Variable.Class */
pre .vg { color: #00688B } /* Name.Variable.Global */
pre .vi { color: #00688B } /* Name.Variable.Instance */
pre .il { color: #B452CD } /* Literal.Number.Integer.Long */
