pre .hll { background-color: #4f424c }
pre  { background: #2f1e2e; color: #e7e9db }
pre .c { color: #776e71 } /* Comment */
pre .err { color: #ef6155 } /* Error */
pre .k { color: #815ba4 } /* Keyword */
pre .l { color: #f99b15 } /* Literal */
pre .n { color: #e7e9db } /* Name */
pre .o { color: #5bc4bf } /* Operator */
pre .p { color: #e7e9db } /* Punctuation */
pre .cm { color: #776e71 } /* Comment.Multiline */
pre .cp { color: #776e71 } /* Comment.Preproc */
pre .c1 { color: #776e71 } /* Comment.Single */
pre .cs { color: #776e71 } /* Comment.Special */
pre .gd { color: #ef6155 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
pre .gi { color: #48b685 } /* Generic.Inserted */
pre .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
pre .kc { color: #815ba4 } /* Keyword.Constant */
pre .kd { color: #815ba4 } /* Keyword.Declaration */
pre .kn { color: #5bc4bf } /* Keyword.Namespace */
pre .kp { color: #815ba4 } /* Keyword.Pseudo */
pre .kr { color: #815ba4 } /* Keyword.Reserved */
pre .kt { color: #fec418 } /* Keyword.Type */
pre .ld { color: #48b685 } /* Literal.Date */
pre .m { color: #f99b15 } /* Literal.Number */
pre .s { color: #48b685 } /* Literal.String */
pre .na { color: #06b6ef } /* Name.Attribute */
pre .nb { color: #e7e9db } /* Name.Builtin */
pre .nc { color: #fec418 } /* Name.Class */
pre .no { color: #ef6155 } /* Name.Constant */
pre .nd { color: #5bc4bf } /* Name.Decorator */
pre .ni { color: #e7e9db } /* Name.Entity */
pre .ne { color: #ef6155 } /* Name.Exception */
pre .nf { color: #06b6ef } /* Name.Function */
pre .nl { color: #e7e9db } /* Name.Label */
pre .nn { color: #fec418 } /* Name.Namespace */
pre .nx { color: #06b6ef } /* Name.Other */
pre .py { color: #e7e9db } /* Name.Property */
pre .nt { color: #5bc4bf } /* Name.Tag */
pre .nv { color: #ef6155 } /* Name.Variable */
pre .ow { color: #5bc4bf } /* Operator.Word */
pre .w { color: #e7e9db } /* Text.Whitespace */
pre .mb { color: #f99b15 } /* Literal.Number.Bin */
pre .mf { color: #f99b15 } /* Literal.Number.Float */
pre .mh { color: #f99b15 } /* Literal.Number.Hex */
pre .mi { color: #f99b15 } /* Literal.Number.Integer */
pre .mo { color: #f99b15 } /* Literal.Number.Oct */
pre .sb { color: #48b685 } /* Literal.String.Backtick */
pre .sc { color: #e7e9db } /* Literal.String.Char */
pre .sd { color: #776e71 } /* Literal.String.Doc */
pre .s2 { color: #48b685 } /* Literal.String.Double */
pre .se { color: #f99b15 } /* Literal.String.Escape */
pre .sh { color: #48b685 } /* Literal.String.Heredoc */
pre .si { color: #f99b15 } /* Literal.String.Interpol */
pre .sx { color: #48b685 } /* Literal.String.Other */
pre .sr { color: #48b685 } /* Literal.String.Regex */
pre .s1 { color: #48b685 } /* Literal.String.Single */
pre .ss { color: #48b685 } /* Literal.String.Symbol */
pre .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
pre .vc { color: #ef6155 } /* Name.Variable.Class */
pre .vg { color: #ef6155 } /* Name.Variable.Global */
pre .vi { color: #ef6155 } /* Name.Variable.Instance */
pre .il { color: #f99b15 } /* Literal.Number.Integer.Long */
