pre .hll { background-color: #ffffcc }
pre  { background: #ffffff; }
pre .c { font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { font-weight: bold } /* Keyword */
pre .cm { font-style: italic } /* Comment.Multiline */
pre .c1 { font-style: italic } /* Comment.Single */
pre .cs { font-style: italic } /* Comment.Special */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gh { font-weight: bold } /* Generic.Heading */
pre .gp { font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { font-weight: bold } /* Generic.Subheading */
pre .kc { font-weight: bold } /* Keyword.Constant */
pre .kd { font-weight: bold } /* Keyword.Declaration */
pre .kn { font-weight: bold } /* Keyword.Namespace */
pre .kr { font-weight: bold } /* Keyword.Reserved */
pre .s { font-style: italic } /* Literal.String */
pre .nc { font-weight: bold } /* Name.Class */
pre .ni { font-weight: bold } /* Name.Entity */
pre .ne { font-weight: bold } /* Name.Exception */
pre .nn { font-weight: bold } /* Name.Namespace */
pre .nt { font-weight: bold } /* Name.Tag */
pre .ow { font-weight: bold } /* Operator.Word */
pre .sb { font-style: italic } /* Literal.String.Backtick */
pre .sc { font-style: italic } /* Literal.String.Char */
pre .sd { font-style: italic } /* Literal.String.Doc */
pre .s2 { font-style: italic } /* Literal.String.Double */
pre .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
pre .sh { font-style: italic } /* Literal.String.Heredoc */
pre .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
pre .sx { font-style: italic } /* Literal.String.Other */
pre .sr { font-style: italic } /* Literal.String.Regex */
pre .s1 { font-style: italic } /* Literal.String.Single */
pre .ss { font-style: italic } /* Literal.String.Symbol */
