pre .hll { background-color: #ffffcc }
pre  { background: #ffffff; }
pre .c { color: #888888 } /* Comment */
pre .err { color: #FF0000; background-color: #FFAAAA } /* Error */
pre .k { color: #008800; font-weight: bold } /* Keyword */
pre .o { color: #333333 } /* Operator */
pre .cm { color: #888888 } /* Comment.Multiline */
pre .cp { color: #557799 } /* Comment.Preproc */
pre .c1 { color: #888888 } /* Comment.Single */
pre .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
pre .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #333399; font-weight: bold } /* Keyword.Type */
pre .m { color: #6600EE; font-weight: bold } /* Literal.Number */
pre .s { background-color: #fff0f0 } /* Literal.String */
pre .na { color: #0000CC } /* Name.Attribute */
pre .nb { color: #007020 } /* Name.Builtin */
pre .nc { color: #BB0066; font-weight: bold } /* Name.Class */
pre .no { color: #003366; font-weight: bold } /* Name.Constant */
pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
pre .ni { color: #880000; font-weight: bold } /* Name.Entity */
pre .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
pre .nf { color: #0066BB; font-weight: bold } /* Name.Function */
pre .nl { color: #997700; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
pre .nt { color: #007700 } /* Name.Tag */
pre .nv { color: #996633 } /* Name.Variable */
pre .ow { color: #000000; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
pre .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
pre .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
pre .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
pre .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
pre .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
pre .sc { color: #0044DD } /* Literal.String.Char */
pre .sd { color: #DD4422 } /* Literal.String.Doc */
pre .s2 { background-color: #fff0f0 } /* Literal.String.Double */
pre .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
pre .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
pre .si { background-color: #eeeeee } /* Literal.String.Interpol */
pre .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
pre .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
pre .s1 { background-color: #fff0f0 } /* Literal.String.Single */
pre .ss { color: #AA6600 } /* Literal.String.Symbol */
pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
pre .vc { color: #336699 } /* Name.Variable.Class */
pre .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
pre .vi { color: #3333BB } /* Name.Variable.Instance */
pre .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
