pre .hll { background-color: #ffffcc }
pre  { background: #ffffff; }
pre .c { color: #FF0000; font-style: italic } /* Comment */
pre .k { color: #0000FF } /* Keyword */
pre .cm { color: #FF0000; font-style: italic } /* Comment.Multiline */
pre .cp { color: #FF0000; font-style: italic } /* Comment.Preproc */
pre .c1 { color: #FF0000; font-style: italic } /* Comment.Single */
pre .cs { color: #FF0000; font-style: italic } /* Comment.Special */
pre .kc { color: #0000FF } /* Keyword.Constant */
pre .kd { color: #0000FF } /* Keyword.Declaration */
pre .kn { color: #0000FF } /* Keyword.Namespace */
pre .kp { color: #0000FF } /* Keyword.Pseudo */
pre .kr { color: #0000FF } /* Keyword.Reserved */
pre .kt { color: #0000FF } /* Keyword.Type */
pre .s { color: #009C00 } /* Literal.String */
pre .nc { color: #007575 } /* Name.Class */
pre .nd { color: #CC00A3 } /* Name.Decorator */
pre .nf { color: #C34E00 } /* Name.Function */
pre .sb { color: #009C00 } /* Literal.String.Backtick */
pre .sc { color: #009C00 } /* Literal.String.Char */
pre .sd { color: #009C00 } /* Literal.String.Doc */
pre .s2 { color: #009C00 } /* Literal.String.Double */
pre .se { color: #009C00 } /* Literal.String.Escape */
pre .sh { color: #009C00 } /* Literal.String.Heredoc */
pre .si { color: #009C00 } /* Literal.String.Interpol */
pre .sx { color: #009C00 } /* Literal.String.Other */
pre .sr { color: #009C00 } /* Literal.String.Regex */
pre .s1 { color: #009C00 } /* Literal.String.Single */
pre .ss { color: #009C00 } /* Literal.String.Symbol */
