.author
{
	padding-top: $column-gutter/2;
	
	.author-image
	{
		@include grid-column(5, $float: right, $collapse: true);
		padding-left: $column-gutter/2;
	}
	
	.author-meta
	{
		h4
		{
			font-size: 1.2rem;
			margin: 0 0 $paragraph-margin-bottom/2;
		}
		
		p
		{
			font-size: 0.875rem;
			
			a
			{
				font-family: $font-family-sans-serif;
			}
		}
	}
	
@media #{$medium}
{	
	@include grid-column(4);
	.author-meta
	{
		//@include grid-column(7, $collapse:true);
		//padding: $column-gutter/2;
		
		h4
		{
			font-size: 1.2rem;
		}
		
		p
		{
			font-size: 1rem;
		}
	}
}

}