.toc
{
	list-style: none;
	margin: 0;
	padding: 0;
	
	&+h5
	{
		margin-top: $column-gutter/2;
		margin-bottom: 0;
		border-bottom: 1px solid $hr-border-color;
		padding-bottom: 1rem;
		color: $aluminum;
	}
	
	&>li
	{
		display: block;
		position: relative;
		border-top: 1px solid $hr-border-color;
		
		&:first-child
		{
			border-top: 0;
		}
		
		a
		{
			display: block;
			padding: 1rem 3.4rem 1rem 0;
		
			h2
			{
				margin: 0;
				font-size: $h3-font-size;
				
				@media #{$small-only}
				{
					font-size: $h3-font-size*0.875;
				}
					
				small
				{
					display: block;
					text-transform: uppercase;
					line-height: 1.4;
				}
			}
			
			&:hover h2
			{
				color: $primary-color;
			}
		}
		
		i
		{
			position: absolute;
			right: 1rem;
			top: 1.4rem;
			
			background: $white;
			width: 2rem;
			height: 2rem;
			padding: 0;
			border: 1px solid $hr-border-color;
			border-radius: $global-rounded;
			
			font-style: normal;
			content: '+';
			font-color: $small-font-color;
			font-size: 1.4rem;
			
			text-align: center;
			line-height: 1.8rem;
			
			cursor: pointer;
			transition: transform 0.3s, background 0.2s, opacity 0.3s;
			
			&:hover
			{
				background: $primary-color;
				border-color: darken($primary-color, 10);
				color: $white;
			}
			
			&.on
			{
				transform: rotate(45deg);
			}
		}
	}
		
	.children
	{		
		list-style: none;
		margin: 0 0 1.5rem $column-gutter;
		padding: 0;
		
		li
		{
			display: block;
			
			a
			{
				display: block;
				padding: 0.55rem 0;
				
				h5
				{
					margin: 0;
					text-transform: none;
					font-weight: $font-weight-normal;
					font-family: $font-family-sans-serif;
					font-style: italic;
					font-size: 1rem;
					color: lighten(desaturate($info-color, 100), 10);
				}
				
				&:hover
				{
					h5
					{
						color: $monsoon;
					}
				}
			}
		}
	}
	
@media #{$medium}
{
	&+h5
	{
		margin-top: $column-gutter;
	}
	
	&>li
	{
	}
}

}