body {
  width: 100%;
  margin: 0 0 0 0;
  background-color: rgb(105,136,164);
  font-size: 1.5vmin;
}

div.header {
    background-color: With;
    background-size: cover;
    background-image:url(affichage.jpg);
    background-repeat:no-repeat;
    background-position:center top;
}

h1 {
    margin: 0;
    margin-left: 0.4vmin;
    margin-right: 0.4vmin;
    font-family: 'Carter One', cursive;
    padding-top: 3vmin;
    padding-bottom: 1vmin;
    font-size: 12vmin;
    text-align: center;
    color: rgb(105,136,164);
    font-variant: small-caps;
    text-shadow: -0.01vmin 0 black, 0 0.01vmin black, 0.01vmin 0 black, 0 -0.01vmin black;
}

.widecard {
    background: #fff;
    border-radius: 2px;
    position: relative;
    padding: 0.2rem;
    flex: 1;
    margin: 0.5rem;
}

.card {
    background: #fff;
    border-radius: 2px;
    margin: 0.4rem;
    padding: 0.2rem;
    position: relative;
    flex: 1;
    padding-bottom: 2rem;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-header {
    background-color: rgba(255, 255, 255, 0.7);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p.card-contents {
    margin: auto;
    width: 85%;
    margin-top: 0.5em;
}

p.subtitle {
    text-align: center;
    font-size: 1.6vmin;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
}

img.footer {
    height: 15vmin;
    display: block;
    margin-top: 5vmin;
    margin-left: auto;
    margin-right: auto;
}

h2.card-title {
    font-family: 'Carter One', cursive;
    font-size: 4vmin;
    text-align: center;
    color: rgb(105,136,164);
    font-variant: small-caps;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

div.contents {
    font-family: sans-serif;
    margin: auto;
    width: 100%;
    background-color: rgb(105,136,164);
}

code {
    font-size: 1.4vmin;
}

@media only screen and (min-width: 768px) {

  div.card {
    max-height: 20vh;
    overflow: auto;
  }

  .flexbox {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      padding-top: 0.5em;
  }

  div.contents {
      font-family: sans-serif;
      margin: auto;
      width: 100%;
      background-color: rgb(105,136,164);
  }

  div.features {
      height: 33vmin;
      overflow: auto;
  }

  ul.features {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
      -webkit-column-gap: 2em;
      -moz-column-gap: 2em;
      column-gap: 2em;
      text-align: justify;
      text-justify: inter-word;
      padding-left: 3em;
      padding-right: 3em;
  }

  li {
      padding: 0;
      padding-top: 0.5em;
      font-size: 1.5vmin;
  }

  div.header {
    height: 50vmin;
  }

 div.widecard {
     height: 47vmin;
 }

}


