*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.a
*.o
*.annot
*.run
*.opt
*.exe
_build
.merlin
*.install
META
atd_doc_lexer.ml
atd_lexer.ml
atd_parser.ml
atd_parser.mli
atd_version.ml
unit-tests
dep
*.out
html
man1
*.cm[ioxa]
*.cmx[as]
*.[oa]
*.annot
