*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.a
*.o
*.annot
*.run
*.opt
*.exe
_build
_opam
.merlin
*.install
META
atd_doc_lexer.ml
atd_lexer.ml
atd_parser.ml
atd_parser.mli
atd_version.ml
unit-tests
dep
*.out
html
man1

# Temporary folder(s) used by some maintenance scripts
tmp
