pre .hll { background-color: #ffffcc }
pre  { background: #ffffff; }
pre .c { color: #999988; font-style: italic } /* Comment */
pre .err { color: #a61717; background-color: #e3d2d2 } /* Error */
pre .k { font-weight: bold } /* Keyword */
pre .o { font-weight: bold } /* Operator */
pre .cm { color: #999988; font-style: italic } /* Comment.Multiline */
pre .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
pre .c1 { color: #999988; font-style: italic } /* Comment.Single */
pre .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
pre .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #aa0000 } /* Generic.Error */
pre .gh { color: #999999 } /* Generic.Heading */
pre .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #555555 } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #aaaaaa } /* Generic.Subheading */
pre .gt { color: #aa0000 } /* Generic.Traceback */
pre .kc { font-weight: bold } /* Keyword.Constant */
pre .kd { font-weight: bold } /* Keyword.Declaration */
pre .kn { font-weight: bold } /* Keyword.Namespace */
pre .kp { font-weight: bold } /* Keyword.Pseudo */
pre .kr { font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #445588; font-weight: bold } /* Keyword.Type */
pre .m { color: #009999 } /* Literal.Number */
pre .s { color: #bb8844 } /* Literal.String */
pre .na { color: #008080 } /* Name.Attribute */
pre .nb { color: #999999 } /* Name.Builtin */
pre .nc { color: #445588; font-weight: bold } /* Name.Class */
pre .no { color: #008080 } /* Name.Constant */
pre .ni { color: #800080 } /* Name.Entity */
pre .ne { color: #990000; font-weight: bold } /* Name.Exception */
pre .nf { color: #990000; font-weight: bold } /* Name.Function */
pre .nn { color: #555555 } /* Name.Namespace */
pre .nt { color: #000080 } /* Name.Tag */
pre .nv { color: #008080 } /* Name.Variable */
pre .ow { font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #009999 } /* Literal.Number.Bin */
pre .mf { color: #009999 } /* Literal.Number.Float */
pre .mh { color: #009999 } /* Literal.Number.Hex */
pre .mi { color: #009999 } /* Literal.Number.Integer */
pre .mo { color: #009999 } /* Literal.Number.Oct */
pre .sb { color: #bb8844 } /* Literal.String.Backtick */
pre .sc { color: #bb8844 } /* Literal.String.Char */
pre .sd { color: #bb8844 } /* Literal.String.Doc */
pre .s2 { color: #bb8844 } /* Literal.String.Double */
pre .se { color: #bb8844 } /* Literal.String.Escape */
pre .sh { color: #bb8844 } /* Literal.String.Heredoc */
pre .si { color: #bb8844 } /* Literal.String.Interpol */
pre .sx { color: #bb8844 } /* Literal.String.Other */
pre .sr { color: #808000 } /* Literal.String.Regex */
pre .s1 { color: #bb8844 } /* Literal.String.Single */
pre .ss { color: #bb8844 } /* Literal.String.Symbol */
pre .bp { color: #999999 } /* Name.Builtin.Pseudo */
pre .vc { color: #008080 } /* Name.Variable.Class */
pre .vg { color: #008080 } /* Name.Variable.Global */
pre .vi { color: #008080 } /* Name.Variable.Instance */
pre .il { color: #009999 } /* Literal.Number.Integer.Long */
