pre .hll { background-color: #ffffcc }
pre  { background: #f0f3f3; }
pre .c { color: #0099FF; font-style: italic } /* Comment */
pre .err { color: #AA0000; background-color: #FFAAAA } /* Error */
pre .k { color: #006699; font-weight: bold } /* Keyword */
pre .o { color: #555555 } /* Operator */
pre .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
pre .cp { color: #009999 } /* Comment.Preproc */
pre .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
pre .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
pre .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #003300; font-weight: bold } /* Generic.Heading */
pre .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
pre .go { color: #AAAAAA } /* Generic.Output */
pre .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #99CC66 } /* Generic.Traceback */
pre .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #006699 } /* Keyword.Pseudo */
pre .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #007788; font-weight: bold } /* Keyword.Type */
pre .m { color: #FF6600 } /* Literal.Number */
pre .s { color: #CC3300 } /* Literal.String */
pre .na { color: #330099 } /* Name.Attribute */
pre .nb { color: #336666 } /* Name.Builtin */
pre .nc { color: #00AA88; font-weight: bold } /* Name.Class */
pre .no { color: #336600 } /* Name.Constant */
pre .nd { color: #9999FF } /* Name.Decorator */
pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
pre .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
pre .nf { color: #CC00FF } /* Name.Function */
pre .nl { color: #9999FF } /* Name.Label */
pre .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
pre .nt { color: #330099; font-weight: bold } /* Name.Tag */
pre .nv { color: #003333 } /* Name.Variable */
pre .ow { color: #000000; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #FF6600 } /* Literal.Number.Bin */
pre .mf { color: #FF6600 } /* Literal.Number.Float */
pre .mh { color: #FF6600 } /* Literal.Number.Hex */
pre .mi { color: #FF6600 } /* Literal.Number.Integer */
pre .mo { color: #FF6600 } /* Literal.Number.Oct */
pre .sb { color: #CC3300 } /* Literal.String.Backtick */
pre .sc { color: #CC3300 } /* Literal.String.Char */
pre .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #CC3300 } /* Literal.String.Double */
pre .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #CC3300 } /* Literal.String.Heredoc */
pre .si { color: #AA0000 } /* Literal.String.Interpol */
pre .sx { color: #CC3300 } /* Literal.String.Other */
pre .sr { color: #33AAAA } /* Literal.String.Regex */
pre .s1 { color: #CC3300 } /* Literal.String.Single */
pre .ss { color: #FFCC33 } /* Literal.String.Symbol */
pre .bp { color: #336666 } /* Name.Builtin.Pseudo */
pre .vc { color: #003333 } /* Name.Variable.Class */
pre .vg { color: #003333 } /* Name.Variable.Global */
pre .vi { color: #003333 } /* Name.Variable.Instance */
pre .il { color: #FF6600 } /* Literal.Number.Integer.Long */
