$pygments-background-color: scale-color(#ffffff, $lightness: -4%);

pre .hll { background-color: #ffffcc }
pre  { background: $pygments-background-color; }
pre .c { color: #008000 } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #0000ff } /* Keyword */
pre .cm { color: #008000 } /* Comment.Multiline */
pre .cp { color: #0000ff } /* Comment.Preproc */
pre .c1 { color: #008000 } /* Comment.Single */
pre .cs { color: #008000 } /* Comment.Special */
pre .ge { font-style: italic } /* Generic.Emph */
pre.ge { font-style: italic } /* Generic.Emph */
pre .gh { font-weight: bold } /* Generic.Heading */
pre .gp { font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { font-weight: bold } /* Generic.Subheading */
pre .kc { color: #0000ff } /* Keyword.Constant */
pre .kd { color: #0000ff } /* Keyword.Declaration */
pre .kn { color: #0000ff } /* Keyword.Namespace */
pre .kp { color: #0000ff } /* Keyword.Pseudo */
pre .kr { color: #0000ff } /* Keyword.Reserved */
pre .kt { color: #2b91af } /* Keyword.Type */
pre .s { color: #a31515 } /* Literal.String */
pre .nc { color: #2b91af } /* Name.Class */
pre .ow { color: #0000ff } /* Operator.Word */
pre .sb { color: #a31515 } /* Literal.String.Backtick */
pre .sc { color: #a31515 } /* Literal.String.Char */
pre .sd { color: #a31515 } /* Literal.String.Doc */
pre .s2 { color: #a31515 } /* Literal.String.Double */
pre .se { color: #a31515 } /* Literal.String.Escape */
pre .sh { color: #a31515 } /* Literal.String.Heredoc */
pre .si { color: #a31515 } /* Literal.String.Interpol */
pre .sx { color: #a31515 } /* Literal.String.Other */
pre .sr { color: #a31515 } /* Literal.String.Regex */
pre .s1 { color: #a31515 } /* Literal.String.Single */
pre .ss { color: #a31515 } /* Literal.String.Symbol */
