pre .hll { background-color: #222222 }
pre  { background: #000000; color: #cccccc }
pre .c { color: #000080 } /* Comment */
pre .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
pre .esc { color: #cccccc } /* Escape */
pre .g { color: #cccccc } /* Generic */
pre .k { color: #cdcd00 } /* Keyword */
pre .l { color: #cccccc } /* Literal */
pre .n { color: #cccccc } /* Name */
pre .o { color: #3399cc } /* Operator */
pre .x { color: #cccccc } /* Other */
pre .p { color: #cccccc } /* Punctuation */
pre .cm { color: #000080 } /* Comment.Multiline */
pre .cp { color: #000080 } /* Comment.Preproc */
pre .c1 { color: #000080 } /* Comment.Single */
pre .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
pre .gd { color: #cd0000 } /* Generic.Deleted */
pre .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00cd00 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #cdcd00 } /* Keyword.Constant */
pre .kd { color: #00cd00 } /* Keyword.Declaration */
pre .kn { color: #cd00cd } /* Keyword.Namespace */
pre .kp { color: #cdcd00 } /* Keyword.Pseudo */
pre .kr { color: #cdcd00 } /* Keyword.Reserved */
pre .kt { color: #00cd00 } /* Keyword.Type */
pre .ld { color: #cccccc } /* Literal.Date */
pre .m { color: #cd00cd } /* Literal.Number */
pre .s { color: #cd0000 } /* Literal.String */
pre .na { color: #cccccc } /* Name.Attribute */
pre .nb { color: #cd00cd } /* Name.Builtin */
pre .nc { color: #00cdcd } /* Name.Class */
pre .no { color: #cccccc } /* Name.Constant */
pre .nd { color: #cccccc } /* Name.Decorator */
pre .ni { color: #cccccc } /* Name.Entity */
pre .ne { color: #666699; font-weight: bold } /* Name.Exception */
pre .nf { color: #cccccc } /* Name.Function */
pre .nl { color: #cccccc } /* Name.Label */
pre .nn { color: #cccccc } /* Name.Namespace */
pre .nx { color: #cccccc } /* Name.Other */
pre .py { color: #cccccc } /* Name.Property */
pre .nt { color: #cccccc } /* Name.Tag */
pre .nv { color: #00cdcd } /* Name.Variable */
pre .ow { color: #cdcd00 } /* Operator.Word */
pre .w { color: #cccccc } /* Text.Whitespace */
pre .mb { color: #cd00cd } /* Literal.Number.Bin */
pre .mf { color: #cd00cd } /* Literal.Number.Float */
pre .mh { color: #cd00cd } /* Literal.Number.Hex */
pre .mi { color: #cd00cd } /* Literal.Number.Integer */
pre .mo { color: #cd00cd } /* Literal.Number.Oct */
pre .sb { color: #cd0000 } /* Literal.String.Backtick */
pre .sc { color: #cd0000 } /* Literal.String.Char */
pre .sd { color: #cd0000 } /* Literal.String.Doc */
pre .s2 { color: #cd0000 } /* Literal.String.Double */
pre .se { color: #cd0000 } /* Literal.String.Escape */
pre .sh { color: #cd0000 } /* Literal.String.Heredoc */
pre .si { color: #cd0000 } /* Literal.String.Interpol */
pre .sx { color: #cd0000 } /* Literal.String.Other */
pre .sr { color: #cd0000 } /* Literal.String.Regex */
pre .s1 { color: #cd0000 } /* Literal.String.Single */
pre .ss { color: #cd0000 } /* Literal.String.Symbol */
pre .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
pre .vc { color: #00cdcd } /* Name.Variable.Class */
pre .vg { color: #00cdcd } /* Name.Variable.Global */
pre .vi { color: #00cdcd } /* Name.Variable.Instance */
pre .il { color: #cd00cd } /* Literal.Number.Integer.Long */
