pre .hll { background-color: #ffffcc }
pre  { background: #f8f8f8; }
pre .c { color: #008800; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #AA22FF; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .cm { color: #008800; font-style: italic } /* Comment.Multiline */
pre .cp { color: #008800 } /* Comment.Preproc */
pre .c1 { color: #008800; font-style: italic } /* Comment.Single */
pre .cs { color: #008800; font-weight: bold } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #AA22FF } /* Keyword.Pseudo */
pre .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
pre .m { color: #666666 } /* Literal.Number */
pre .s { color: #BB4444 } /* Literal.String */
pre .na { color: #BB4444 } /* Name.Attribute */
pre .nb { color: #AA22FF } /* Name.Builtin */
pre .nc { color: #0000FF } /* Name.Class */
pre .no { color: #880000 } /* Name.Constant */
pre .nd { color: #AA22FF } /* Name.Decorator */
pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
pre .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
pre .nf { color: #00A000 } /* Name.Function */
pre .nl { color: #A0A000 } /* Name.Label */
pre .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
pre .nt { color: #008000; font-weight: bold } /* Name.Tag */
pre .nv { color: #B8860B } /* Name.Variable */
pre .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #666666 } /* Literal.Number.Bin */
pre .mf { color: #666666 } /* Literal.Number.Float */
pre .mh { color: #666666 } /* Literal.Number.Hex */
pre .mi { color: #666666 } /* Literal.Number.Integer */
pre .mo { color: #666666 } /* Literal.Number.Oct */
pre .sb { color: #BB4444 } /* Literal.String.Backtick */
pre .sc { color: #BB4444 } /* Literal.String.Char */
pre .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #BB4444 } /* Literal.String.Double */
pre .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #BB4444 } /* Literal.String.Heredoc */
pre .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
pre .sx { color: #008000 } /* Literal.String.Other */
pre .sr { color: #BB6688 } /* Literal.String.Regex */
pre .s1 { color: #BB4444 } /* Literal.String.Single */
pre .ss { color: #B8860B } /* Literal.String.Symbol */
pre .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
pre .vc { color: #B8860B } /* Name.Variable.Class */
pre .vg { color: #B8860B } /* Name.Variable.Global */
pre .vi { color: #B8860B } /* Name.Variable.Instance */
pre .il { color: #666666 } /* Literal.Number.Integer.Long */
