pre .hll { background-color: #ffffcc }
pre  { background: #ffffff; }
pre .c { color: #aaaaaa; font-style: italic } /* Comment */
pre .err { color: #FF0000; background-color: #FFAAAA } /* Error */
pre .k { color: #0000aa } /* Keyword */
pre .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
pre .cp { color: #4c8317 } /* Comment.Preproc */
pre .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
pre .cs { color: #0000aa; font-style: italic } /* Comment.Special */
pre .gd { color: #aa0000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #aa0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00aa00 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #555555 } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #aa0000 } /* Generic.Traceback */
pre .kc { color: #0000aa } /* Keyword.Constant */
pre .kd { color: #0000aa } /* Keyword.Declaration */
pre .kn { color: #0000aa } /* Keyword.Namespace */
pre .kp { color: #0000aa } /* Keyword.Pseudo */
pre .kr { color: #0000aa } /* Keyword.Reserved */
pre .kt { color: #00aaaa } /* Keyword.Type */
pre .m { color: #009999 } /* Literal.Number */
pre .s { color: #aa5500 } /* Literal.String */
pre .na { color: #1e90ff } /* Name.Attribute */
pre .nb { color: #00aaaa } /* Name.Builtin */
pre .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
pre .no { color: #aa0000 } /* Name.Constant */
pre .nd { color: #888888 } /* Name.Decorator */
pre .ni { color: #880000; font-weight: bold } /* Name.Entity */
pre .nf { color: #00aa00 } /* Name.Function */
pre .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
pre .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
pre .nv { color: #aa0000 } /* Name.Variable */
pre .ow { color: #0000aa } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #009999 } /* Literal.Number.Bin */
pre .mf { color: #009999 } /* Literal.Number.Float */
pre .mh { color: #009999 } /* Literal.Number.Hex */
pre .mi { color: #009999 } /* Literal.Number.Integer */
pre .mo { color: #009999 } /* Literal.Number.Oct */
pre .sb { color: #aa5500 } /* Literal.String.Backtick */
pre .sc { color: #aa5500 } /* Literal.String.Char */
pre .sd { color: #aa5500 } /* Literal.String.Doc */
pre .s2 { color: #aa5500 } /* Literal.String.Double */
pre .se { color: #aa5500 } /* Literal.String.Escape */
pre .sh { color: #aa5500 } /* Literal.String.Heredoc */
pre .si { color: #aa5500 } /* Literal.String.Interpol */
pre .sx { color: #aa5500 } /* Literal.String.Other */
pre .sr { color: #009999 } /* Literal.String.Regex */
pre .s1 { color: #aa5500 } /* Literal.String.Single */
pre .ss { color: #0000aa } /* Literal.String.Symbol */
pre .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
pre .vc { color: #aa0000 } /* Name.Variable.Class */
pre .vg { color: #aa0000 } /* Name.Variable.Global */
pre .vi { color: #aa0000 } /* Name.Variable.Instance */
pre .il { color: #009999 } /* Literal.Number.Integer.Long */
