.comment-action {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: color 0.15s;
    -moz-transition: color 0.15s;
    -ms-transition: color 0.15s;
    -o-transition: color 0.15s;
    transition: color 0.15s;
    color: #9A9994;
    font-weight: normal;
    white-space: nowrap;
}

.comment-action:hover {
    text-decoration: none;
}